<%= turbo_frame_tag "cart" do %>
    <h1>Panier d'achat</h1>
    <% if @cart.cart_products.count > 0 %>
        <%= render "cart/cart_product" %>
        <p>Total : <%= @cart.total %></p>
    <% else %>
        <p>Ce panier d'achat est vide</p>
    <% end %>
<% end %>